<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="failtestcases.IAnnotationRetryListner" />
    </listeners>

    <parameter name="browserName" value="edge" />

    <test verbose="2" preserve-order="true" name="C:/Users/SOPAN/IdeaProjects/MavenProject">
        <classes>
            <class name="annotation.AnnotationExample" />
        </classes>
    </test>
</suite>